p {
    background: beige;
    font-size: 20px;
    display:flex;
    align-items: right;
    justify-content: right;
    width: 1000px;
    margin-left: 500px;
    background: beige;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    box-shadow: 0 5px 8px black;
}
body {
    background: beige;
      background-image: url(../IMAGES/download.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
h1 {
    color: white;
    text-decoration: underline;
}
img {
    width: 500px;
    background: beige;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    box-shadow: 0 5px 8px black;
    margin-right:100px;
}
